* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #aaaaaa;
    font-family: 'Roboto', sans-serif;
}

header{
    text-align: center;
    margin: 40px;
    text-transform: uppercase;
}

#nav-main{
    display: flex;
    justify-content: center;
}

#select-list{
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
}

#nav-main input{
    border-radius: 10px;
    margin: 0 40px;
    width: 220px;
    text-align: center;
}

#nav-main button {
    border-radius: 10px;
    border: none;
    background-color: aquamarine;
    width: 60px;
    text-transform: uppercase;
}

#container-lists{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 30px auto;
}

#main-left, #main-right{
    width: 50%;
    display: flex;
}

#main-left{
    justify-content: center;
}

#main-right{
    flex-direction: column;
    align-items: center;
}

#task-list, #top-priorities, #reminder{
    text-align: center;
}

.todo-left{
    display: flex;
}

.todo{
    display: flex;
    width: 500px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(184, 243, 223);
    padding: 7px;
}

.todo p{
    margin-left: 20px;
}

i{
    cursor: pointer;
}

.through{
    text-decoration: line-through;
}

#reminder {
    margin-top: 50px;
}